<div class="app">
  <div class="app__top">
    <div class="container">
      <div class="app__title">
        Hannah
      </div>
    </div>
  </div>
  <div class="app__two">
    <div class="left">
      <p>hi</p>
    </div>
    <div class="right">
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>

    </div>
  </div>
  <div class="app__three">
    <div class="left">
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
      <p class="content">hi</p>
    </div>
    <div class="right">
      <p>hi</p>
    </div>
  </div>
</div>
